name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install mingw
        run: sudo apt-get update && sudo apt-get install -y --no-install-recommends mingw-w64 && sudo rm -rf /var/lib/apt/lists/*
      - name: Install Rust target
        run: rustup target add x86_64-pc-windows-gnu
      - name: Build
        run: cd edr-agent && cargo build --target x86_64-pc-windows-gnu --verbose
      - name: Run tests
        run: cd edr-agent && cargo test --target x86_64-pc-windows-gnu --verbose
